[flake8]
# disabled because of "false positives":
# F401: sympy is needed in arithmetic_simpl
# E226: 2**n is better than 2 ** n
# F851: because of variables only used in an eval() in operator_evaluation
ignore=F401,E226,F841